___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Ecommerce Purchases')

In [10]:
df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [122]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [118]:
df.index

RangeIndex(start=0, stop=10000, step=1)

**Check the head of the DataFrame.**

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

50.34730200000025

In [7]:
df['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

99.989999999999995

In [13]:
df.iloc[df['Purchase Price'].argmin()]

/Users/mk/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

Address             332 Jones Parkways\nEast Katherineville, GA 64230
Lot                                                             39 GT
AM or PM                                                           AM
Browser Info        Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9...
Company                                         Lyons, Diaz and Clark
Credit Card                                          4204500444841766
CC Exp Date                                                     01/18
CC Security Code                                                   38
CC Provider                                             VISA 16 digit
Email                                            jennifer11@baker.com
Job                                              Biomedical scientist
IP Address                                             223.47.177.174
Language                                                           it
Purchase Price                                                      0
Name: 2876, dtype: object

In [14]:
df.iloc[df['Purchase Price'].argmax()]

/Users/mk/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

Address                     63773 Shelton Greens\nAshleyton, MA 00493
Lot                                                             56 lu
AM or PM                                                           AM
Browser Info        Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
Company                                                   Pitts Group
Credit Card                                             4292741269160
CC Exp Date                                                     06/18
CC Security Code                                                  824
CC Provider                                                   Maestro
Email                                        heatherwoodard@lloyd.com
Job                                            Surveyor, hydrographic
IP Address                                            172.197.216.229
Language                                                           el
Purchase Price                                                  99.99
Name: 2092, dtype: object

0.0

** How many people have English 'en' as their Language of choice on the website? **

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [123]:
df['Language']=='en'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Language, Length: 10000, dtype: bool

In [126]:
df[df['Language']=='en']['Language'].count()

1098

In [27]:
df.groupby('Language').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
de,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
el,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098
es,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095
fr,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
it,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086
pt,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118
ru,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
zh,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059

** How many people have the job title of "Lawyer" ? **

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [40]:
sum(df[df['Job']=='Lawyer']['Job'].value_counts())

30

AttributeError: 'Series' object has no attribute 'info'

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [133]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [46]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

513    75.1
Name: Purchase Price, dtype: float64

In [134]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [135]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [78]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [137]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].count()

Address             505
Lot                 505
AM or PM            505
Browser Info        505
Company             505
Credit Card         505
CC Exp Date         505
CC Security Code    505
CC Provider         505
Email               505
Job                 505
IP Address          505
Language            505
Purchase Price      505
dtype: int64

In [99]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].count()

Address             505
Lot                 505
AM or PM            505
Browser Info        505
Company             505
Credit Card         505
CC Exp Date         505
CC Security Code    505
CC Provider         505
Email               505
Job                 505
IP Address          505
Language            505
Purchase Price      505
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

1033

In [106]:
sum(df['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

In [139]:
df['CC Exp Date'][0][3:]

'20'

In [142]:
df[df['CC Exp Date'].apply(lambda x: x[3:] == '25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [115]:
df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [146]:
df['Email'][0].split("@")

['pdunlap', 'yahoo.com']

In [147]:
df['Email'][0].split("@")[1]

'yahoo.com'

# Great Job!