# Pandas and Numpy Notes

In [3]:
##Libraries to be aware of

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
##Series

In [2]:
pd.Series(data=my_list,index=labels)

In [ ]:
#Indexing

In [ ]:
df['W'] ## selecting columns

In [ ]:
# Pass a list of column names
df[['W','Z']]

In [ ]:
type(df['W'])

In [ ]:
#creating new column

In [ ]:
df['new'] = df['W'] + df['Y']

In [4]:
##removing columnabs

In [5]:
df.drop('new',axis=1) ## AXIS =0 REFERS TO ROWS. AXIS =1 REFERS TO THE COLUMNS

NameError: name 'df' is not defined

In [6]:
##selecting rows

In [ ]:
df.loc['A']

In [7]:
##Or select based off of position instead of label

In [ ]:
df.iloc[0]

In [ ]:
df.loc[['A','B'],['W','Y']]

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info()

# Conditional Selection
An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)] ## AND

In [ ]:
df[(df['W']>0) | (df['Y'] > 1)] ## OR

In [ ]:
df[df['EmployeeName']=='Joseph Driscoll']['TotalPayBenefits']

In [ ]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

In [ ]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]['EmployeeName']

In [ ]:
df.iloc[df['TotalPayBenefits'].argmax()]

In [ ]:
df.iloc[df['TotalPayBenefits'].argmin()]

In [ ]:
df['JobTitle'].nunique()

In [ ]:
df['JobTitle'].value_counts().head(5)

In [ ]:
sum(df[df['Year']==2013]['JobTitle'].value_counts() ==1)

In [ ]:
df['Title_len']= df['JobTitle'].apply(len)

In [ ]:
df[['TotalPayBenefits', 'Title_len']].corr()

In [ ]:
df[df['Language']=='en']['Language'].count()

In [ ]:
sum(df[df['Job']=='Lawyer']['Job'].value_counts())

In [ ]:
df['AM or PM'].value_counts()

In [ ]:
df[df['Lot']=='90 WT']['Purchase Price']

In [ ]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].count()

# More Index Details
Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
df.set_index('States')

# Missing Data
Let's show a few convenient methods to deal with Missing Data in pandas:

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2) # becase it has atleast 2 non NA values

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
df['A'].fillna(value=df['A'].mean())

# Groupby
The groupby method allows you to group rows of data together and call aggregate functions

In [ ]:
df.groupby('Company').sum()

In [ ]:
by_comp = df.groupby("Company")

In [ ]:
by_comp.std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.sum()

In [ ]:
by_comp.describe()

In [ ]:
df.info()

In [ ]:
df.groupby('Company').describe().transpose()

In [8]:
##LOOK AT  MERGING WITHIN PANDAS LESSON

# Info on Unique Values¶

In [ ]:
df['col2'].unique()

In [ ]:
len(df['col2'].unique())

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

# Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

# Applying Functions¶

In [ ]:
def times2(x):
    return x*2

In [ ]:
lambda x:x*2

In [ ]:
df['col2'].apply(lambda x:x*2)

In [ ]:
df['col3'].apply(len)

In [ ]:
def chief_string(title):
    if 'chief' in title.lower(). split():
        return True
    else:
        return False

In [ ]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

In [ ]:
##** Hard: How many people have a credit card that expires in 2025? **
sum(df['CC Exp Date'].apply(lambda x: x[3:]) == '25')
df[df['CC Exp Date'].apply(lambda x: x[3:] == '25')].count()

In [ ]:
##What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

** Permanently Removing a Column**

In [ ]:
del df['col1']

In [ ]:
df.drop('col1', axis =1)

** Get column and index names: **

In [ ]:
df.index

In [ ]:
##SORT VALUES

In [ ]:
df.sort_values(by='col2') #inplace=False by default

In [10]:
## Pivot Table 
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

# Data Input and Output

In [ ]:
df = pd.read_csv('example')

In [ ]:
df.to_csv('My_Output',index=False)

In [ ]:
pd.read_excel('Excel_Sample.xlsx', sheet_name=0)

In [ ]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='Max')

In [ ]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

sql

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df